{% extends 'index.html' %}

{% block content %}
<div class="header">
    <h1>{{ title }}</h1>
</div>

{% include 'pagination/pagination.html' %}
{% include 'proposal/filter.html' %}

<table class="proposal-table">
    <thead>
    <tr>
        <th>img</th>
        <th>Товар</th>
        <th>Отправитель</th>
        <th>Получатель</th>
        <th>Статус</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for propose in object_list %}
    <tr>
        <td>
            <a href="{% url 'app_ads:detail' pk=propose.item.pk %}">
                <img src="{{ propose.item.image }}" alt="{{ propose.item }}" class="proposal-img">
            </a>
        </td>
        <td>{{ propose.item }}
        </td>

        <td>{{ propose.ad_sender.username }}
        </td>

        <td>{{ propose.ad_receiver.username }}
        </td>

        <td>
            <span class="status-label {{ propose.status|lower }}">
                {{ propose.get_status_display }}
            </span>
        </td>
        <td>
            <a href="{% url 'app_proposal:detail' pk=propose.id %}" class="details-btn">подробно
            </a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5" style="text-align:center;">Нет предложений
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}