.centered-message {
    position: fixed;
    bottom: 20px;
    right: 0;
    transform: translateX(-10%);
    z-index: 9999;
    width: auto;
    max-width: 90%;
    text-align: center;
}

.message-list {
    list-style: none;
    padding: 0;
    margin: 0;

}

.message-list .error,
.message-list .success {
    color: #fff;
    padding: 12px 20px;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    font-size: 16px;
    display: inline-block;
    padding-right: 50px;
}

/* Стиль для ошибки */
.message-list .error {
    background-color: #f44336;
}

/* Стиль для успеха */
.message-list .success {
    background-color: #4CAF50;
}

/* Кнопка закрытия */
.close-button {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 12px;
    right: 5px;
    cursor: pointer;
    line-height: 1;
}

.close-button:hover {
    color: #ddd;
}
