    {% extends 'index.html' %}

    {% block content %}
    <div class="header">
        <h1>{{ title }}</h1>
    </div>

    <div class="centered-div">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-danger">
                {{ form.errors }}
            </div>
            {% endif %}
            <div class="form-group">
                <label for="{{ form.title.id_for_label }}">Название объявления
                </label>
                {{ form.title }}
            </div>

            <div class="form-group">
                <label for="{{ form.description.id_for_label }}">Описание
                </label>
                <textarea
                        id="description"
                        name="description"
                        placeholder="Описание">{% if form.instance.description %}{{form.instance.description}}{% endif %}</textarea>
            </div>
               <div class="form-group">
                <label >Изображение
                </label>
                <input type="file" id="image_url" name="image_url" placeholder="Изображение" >
            </div>
            <div class="form-group">
            <label class="form-label" for="category">Категория</label>
                <select id="category" name="category" class="form-input">
                    <option value="" disabled {% if not form.category.value  %}selected{% endif %}>
                        --- Выберите значение ---
                    </option>
                    {% for category_value, label in categories %}
                    <option value="{{ category_value }}" {% if form.condition.value == category_value %}selected{% endif %}>
                        {{ label }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
            <label class="form-label" for="category">Состояние товара</label>
                <select id="condition" name="condition" class="form-input">
                    <option value="" disabled {% if not form.condition.value  %}selected{% endif %}>
                        --- Выберите значение ---
                    </option>

                    {% for condition_value, label in conditions %}
                        <option value="{{ condition_value }}" {% if form.condition.value == condition_value %}selected{% endif %}>
                            {{ label }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Сохранить
            </button>
        </form>
    </div>
    {% endblock %}