{% extends 'index.html' %}

{% block content %}
    <div class="header">
        <h1>{{ title }}</h1>
    </div>

    {% include 'pagination/pagination.html' %}

    <div class="products-container">
        {% for item in object_list %}
        <div class="product-card">
            <img src="{{ item.image }}" alt="{{ item.title }}" class="product-image">
            <div class="product-info">
                <h3 class="product-title">{{ item.title }}</h3>
                <p class="product-category">{{ item.get_category_display  }}</p>
                <p class="product-condition">{{ item.get_condition_display  }}</p>
                <p class="product-date">{{item.created_at}}</p>
                <p class="product-author">{{item.user.username}}</p>
                <a class="details-btn" href="{% url 'app_ads:detail' pk=item.pk %}">Подробно
                </a>

            </div>
        </div>
        {% empty %}
        <div class="centered-div">
        <h1>{{ empty_message}}</h1>
        <p><a href="{% url 'app_ads:create' %}">+ добавить</a></p>
        </div>
        {% endfor %}
    </div>
{% endblock %}