{% extends 'index.html' %}

{% block content %}
<div class="container">
    <div class="header">
        <h1>Список товаров</h1>
    </div>

    <div class="ads-container">
        {% for item in object_list %}
        <!-- Карточка товара 1 -->
        <div class="ads-card">
            <img src="{{ item.image }}" alt="{{ item.title }}" class="ads-image">
            <div class="ads-body">
                <h3 class="ads-title">{{ item.title }}</h3>
                <div class="ads-meta">
                    <span><strong>Категория:</strong> {{item.category}}</span>
                    <span><strong>Состояние:</strong> {{item.status}}</span>
                </div>
                <div class="ads-date">{{item.created_at}}</div>
                <a href="#" class="ads-button">Подробно</a>
            </div>
        </div>
        {% empty %}
        no
        {% endfor %}
    </div>
</div>
{% endblock %}