{% extends 'index.html' %}

{% block content %}
<div class="header">
    <h1>{{ title }}</h1>
</div>

<div class="detail-container">
  <div class="left-column">
    <img src="{{ object.image }}" alt="{{ object.title }}">
  </div>

  <div class="right-column">
    <h1>{{ object.title }}</h1>
    <p><strong>Описание:</strong> {{ object.description }}</p>
    <p><strong>Категория:</strong> {{ object.get_category_display }}</p>
    <p><strong>Состояние:</strong> {{ object.get_condition_display }}</p>
    <p><strong>Автор:</strong> {{ object.user.username }}</p>

    <div class="buttons">
      <a href="javascript:history.back()" class="btn back">назад</a>
      {% if request.user == object.user %}
      <a href="{% url 'app_ads:update' pk=object.id %}" class="btn edit">Редактировать</a>
      <a href="{% url 'app_ads:delete' pk=object.id %}" class="btn delete">Удалить</a>
      {% else %}
      {% if request.user.is_authenticated  %}
      <a href="{% url 'app_proposal:request' pk=object.id %}" class="btn chosen">отправить предложение обмена</a>
      {% else %}
      <a href="{% url 'app_user:login' %}?next={{ request.path }}" class="btn primary">войдите, чтобы отправить предложение</a>
      {% endif %}
      {% endif %}

    </div>
  </div>
</div>

{% endblock %}