{% extends 'index.html' %}

{% block content %}
<div class="centered-main-container">
    <h1>Hello,
        {% if request.user.is_authenticated %}
        {{request.user.username}}
        {% else %}
        world
        {% endif %}
    </h1>


    <p><a href="{% url 'app_ads:list' %}">к списку всех товаров</a>
    <p>
    {% if request.user.is_authenticated %}
    <p><a href="{% url 'app_ads:list_user' %}">к списку моих товаров</a>
    <p>
    <p><a href="{% url 'app_proposal:list' %}">список предложения на обмен</a>
    <p>

    {% endif %}
</div>
{% endblock %}
